

main {
  grid-row: 2 / 3;
  justify-self: center;
}

Header {
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
}

Footer {
  align-self: center;
  justify-self: center;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}