/**
 * Global Styles
 */

@import './variables.scss';
@import './mixins.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  color: $color-gray-dark;
  background-color: $color-gray-light;
}

::selection {
  background: $color-primary-light;
}

h1 {
  color: $color-primary-dark;
}

a {
  text-decoration: none;
  color: $color-primary-dark;
  &:hover,
  &:active {
    border-bottom: 1px solid $color-primary-dark;
  }
  &:link,
  &:visited {
    color: $color-primary-dark;
  }
}
