@import '../../sass/variables';
@import '../../sass/mixins';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .content {
    .nav {
      margin-bottom: 2rem;
    }
    ul {
      margin-top: 1rem;
      margin-bottom: 1rem;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
  
      li {
        margin: 1rem;
        a {
          color: $color-gray-dark;
          font-weight: 400;
          
          &:hover {
            h4 {
              color: $color-primary-dark;
              border: none;
            }
          }
        }
        span {
          font-size: 1.4rem;
        }
        
        max-width: 200px;
        @include respond(phone) {
          max-width: 300px;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;

    .number {
      color: $color-primary-dark;
      margin: 2rem;

      @include respond(phone) {
        margin: 1rem;
      }

      a {
        color: inherit;
      }
    }

    .current {
      color: $color-gray-dark;
      pointer-events: none;
      cursor: default;
    }

    .arrow {
      text-align: center;
      width: 4rem;

      @include respond(phone) {
        width: 2rem;
      }
    }
  }
}
