@import '../../sass/variables';
@import '../../sass/mixins';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .content {
    .nav {
      margin-bottom: 2rem;
    }
    ul {
      margin-top: 2rem;
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  
      li {
        margin: 1rem;
        a {
          color: $color-gray-dark;
          font-weight:400;
          &:hover {
            color: $color-primary-dark;
            border: none;
          }
        }
        span {
          font-size: 1.4rem;
        }
        
        max-width: 200px;
        @include respond(phone) {
          max-width: 300px;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    text-align: center;

    padding: 4rem 20rem 0rem 20rem;
    @include respond(phone) {
      padding: 4rem 6rem 0rem 6rem;
    }

    .numbers {
      display: flex;
      width: 100%;
      justify-content: space-evenly;

      .active {
        color: $color-primary-dark;
        pointer-events: none;
        cursor: default;
      }

      a {
        color: inherit;
      }
    }

    .text {
      width: 8rem;
    }
  }
}
