@import '../../../sass/variables';

.h2 {
  margin-bottom: 1rem;
  border-bottom: 1px solid $color-primary-light;
}

.blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-style: italic;
  p {
    padding-left: 1.6rem;
    border-left: 3px solid $color-primary-light;
    &::before {
      content: '\201C';
    }
    &::after {
      content: '\201D';
    }
  }
}

.code {
  background-color: $color-primary-light;
  padding: .4rem;
}

.pre {
  overflow: auto;
  white-space: pre-wrap;
  background-color: $color-primary-light;
  padding: 1rem;
  margin: 1.6rem 0 1.6rem 0;
}

.li {
  margin-left: 4ch;
}

.ul, .ol {
  margin-bottom: 1.6rem;
}
