@import '../../../sass/variables';
@import '../../../sass/mixins';

.container {
  grid-column: 1 / 4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: $color-gray-dark;
    outline : none;
    padding: 5px 5px;
  }

  h1 {
    font-size: 8rem;
    font-weight: 300;

    @include respond(phone) {
      font-size: 6rem;
    }
  }

}
