@import '../../../sass/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: $color-gray-dark;
  }

  h1 {
    font-size: 10rem;
    font-weight: 300;
    display: block;
  }
}
