@import '../../../sass/variables';
@import '../../../sass/mixins';

.container {
  grid-column: 1 / 4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 1.6rem;

  .icon {
    color: $color-gray-dark;
    padding: 1rem 1rem;

    &:hover,
    &:active {
      color: $color-primary-dark;
    }
  }

  h1 {
    font-size: 8rem;
    a {
      color: $color-gray-dark;
      font-weight: 100;
      border: none;
    }

    @include respond(phone) {
      font-size: 5.8rem;
    }
  }
}
