@import '../../sass/variables.scss';

.container {
  margin-top: 2rem;
  ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style: none;

    li {
      margin-bottom: 2rem;

      a {
        color: $color-gray-dark;
        font-weight: 400;
        &:hover {
          color: $color-primary-dark;
          border: none;
        }
      }
      span {
        font-size: 1.4rem;
      }
    }
  }
}
