@import '../../sass/variables.scss';

.container {
  margin-top: 2rem;
  ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style: none;

    li {
      margin-bottom: 2rem;
      span {
        font-size: 1.4rem;
      }
    }
  }
}
