.container {
  display: flex;

  .column {
    flex: 1;
  }

  .left {
    margin-right: .8rem;
  }

  .right {
    margin-left: .8rem;
  }

  .sticky {
    position: sticky;
    top: 25%;
    margin-bottom: 1.6rem;
  }
}
