@import '../../sass/variables.scss';
@import '../../sass/mixins';

.container {
  margin-top: 2rem;
  ul {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      margin: 2rem;
      max-width: 300px;
      @include respond(phone) {
        max-width: 400px;
      }
      span {
        font-size: 1.4rem;
      }
    }
  }
}
