@import '../../sass/variables.scss';
@import '../../sass/mixins';

.container {
  margin-top: 2rem;
  ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      margin: 1rem;
      a {
        color: $color-gray-dark;
        font-weight:300;
        &:hover {
          color: $color-primary-dark;
          border: none;
        }
      }
      span {
        font-size: 1.4rem;
      }
      
      max-width: 200px;
      @include respond(phone) {
        max-width: 300px;
      }
    }
  }
}
