@import '../../../sass/variables';

.container {
  grid-column: 1 / 4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .author {
    color: $color-primary-dark;
  }
}
