@import '../../sass/variables.scss';

.container {
  ul {
    list-style: none;
  }

  h2 a {
    color: $color-gray-dark;

    &:hover,
    &:active {
      color: $color-primary-dark;
      border: none;
    }
  }
}
