@import '../../sass/variables.scss';

.container {
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $color-gray-dark;

    &:hover,
    &:active {
      color: $color-primary-dark;
    }
  }
}
